<div class="ui horizontal icon divider">
        <i class="settings icon"></i>
      </div>
      <footer>Yopass is created by <a class="blue" href="https://github.com/jhaals/yopass">Johan Haals</a></footer>
    </div>
  </div>
</body>

</html>