      <div class="footer">
          <p>&copy; <a href="http://github.com/jhaals/">Johan Haals</a> 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>

