<%= erb :header %>
<form role="form" method="GET">
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="p" placeholder="Password to decrypt secret">
    <input type="hidden" class="form-control" name="k" value="<%=key%>" hidden="true">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br/>
<%= erb :footer %>
