<%= erb :header %>
<p>This secret require a decryption key. Please enter it in the field below</p>
<div class="ui form segment">
  <div class="field">
    <label>Decryption key</label>
    <div class="ui left labeled icon input">
      <input type="password" name="p" id="p">
      <i class="lock icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <input type="hidden" id="k" name="k" value="<%=key%>" hidden="true">
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
    <button id="redirect" type="submit" class="ui blue submit button">Decrypt Secret</button>
</div>
<script>
  $(document).ready(function() {
    $("#redirect").click(function() {
      var key = $("#k").val()
      var decryption_key = $("#p").val()
      if(key && decryption_key) {
        window.location.href = key + '/' + decryption_key;
      };
    });
  })
</script>
<%= erb :footer %>