<%= erb :header %>
<h2>URL for your secret</h2>
<p><b><%=url%></b></p>
<p>Your secret can only be viewed ONCE, do not open the URL yourself</p>
<% if key_sent_to_mobile %>
<p>The decryption key is sent to the receiver via sms, dont forget to provide the URL via another channel</p>
<% end %>
<%= erb :footer %>
