language: go
sudo: false
go:
  - 1.9.x
  - "1.10"
  - tip

before_install:
  - go get -u github.com/golang/dep/cmd/dep
  - dep ensure

script:
  - go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
