@import url('https://fonts.googleapis.com/css?family=Rubik:400,600,700');

body {
  font-family: 'Rubik', sans-serif;
}

.feature-box .feature-img-icon {
  width: 100px;
  height: 100px;
  text-align: center;
  background: #fff;
  padding-top: 20px;
  margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}
.feature-box {
  margin-bottom: 40px;
  background: #fff;
  text-align: center;
  padding: 45px 25px 30px 25px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.section-title {
  text-align: center;
}

.footer {
  margin-bottom: 20px;
}

/*
.bg-features {
  background-color: #635cdb;
}
*/
