.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.iml
*.code-workspace
.changelog
.history

node_modules
.yarn

.eslintcache

yarn-error.log
website/build
coverage
.docusaurus
.cache-loader
types
test-website
test-website-in-workspace
.playwright-cli
build
