<div class="alert alert-success" role="alert" ng-show="full_url">
  <p><b>Secret saved</b></p>
  The secret can be decrypted and viewed in one click using <a href="{{full_url}}">{{full_url}}</a>
  <p>For extra security, send the following URL in one channel and the decryption key in another. Receiver will then be asked for the decryption key</p>
  URL: <a href="{{short_url}}">{{short_url}}</a><br/>
  Decryption Key: <b>{{decryption_key}}</b>
</div>
<div class="jumbotron">
<form>
  <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
  <div class="form-group">
    <textarea class="form-control" rows="3" ng-model="secret.secret" placeholder="Secret message">
    </textarea>
  </div>
  <div class="form-group" ng-click="toggleoptions()" ng-hide="options">
    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Options
  </div>
  <div ng-show="options">
    <label>Lifetime</label>
    <span class="help-block">Your secret will self destruct in...</span>
    <div class="radio">
      <label>
        <input ng-checked="true" type="radio" ng-model="secret.lifetime" value="1h">1 hour
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="secret.lifetime" value="1d" checked>1 day
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="secret.lifetime" value="1w">1 week
      </label>
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="save(secret)">
  Encrypt Message
  </button>
</form>
</div>