<div class="col-md-8">
  <form ng-hide=full_url>
    <div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
    <div class="form-group">
      <textarea class="form-control" rows="3" ng-model="secret.secret" placeholder="Secret message"></textarea>
    </div>
    <span class="help-block">Message will self destruct in</span>
    <div class="radio">
      <label>
        <input ng-checked="true" type="radio" ng-model="secret.expiration" value="3600">1 hour
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="secret.expiration" value="86400" checked>1 day
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" ng-model="secret.expiration" value="604800">1 week
      </label>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="save(secret)">Encrypt Message</button>
  </form>
  <div ng-show=full_url>
    <h4>Message Stored</h4>
    <table class="table">
    <tr>
      <td>One-click URL</td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" id="full_url" value="{{full_url}}">
          <span class="input-group-btn">
            <button class="btn btn-default clip" type="button" data-clipboard-target="#full_url">Copy</button>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>Short Url</td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" id="short_url" value="{{short_url}}">
          <span class="input-group-btn">
            <button class="btn btn-default clip" type="button" data-clipboard-target="#short_url">Copy</button>
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td>Decryption Key</td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" id="decryption_key" value="{{decryption_key}}">
          <span class="input-group-btn">
            <button class="btn btn-default clip" type="button" data-clipboard-target="#decryption_key">Copy</button>
          </span>
          </div>
      </td>
    </tr>
    </table>
  </div>

</div>
<div class="col-md-4" ng-show=full_url>
  <span class="glyphicon glyphicon-remove" ng-click="close()"> Close</span>
</div>
<!-- <div ng-controller="statusController" class="col-md-4">
    <h4>10 Latest</h4>
    <ul>
        <li>{{messages}}</li>
    </ul>
</div> -->
